<h1> my data</h1>
<p>Your attendance Till now: {{data}}</p>
<br>

<table border="1">
              <tr>
                            <td>User</td>
                            <td>Day</td>
                            <td>Date</td>
                            <td>Subject</td>
                            <td>Lec Count</td>
                            <td>Attended</td>
                            <td>Not Attended</td>
              </tr>
              {% for lec in alldata %}
              <tr>
                            <td>{{lec.user}}</td>
                            <td>{{lec.day}}</td>
                            <td>{{lec.date}}</td>
                            <td>{{lec.subject}}</td>
                            <td>{{lec.day_lec_count}}</td>
                            <td>{{lec.attended_count}}</td>
                            <td>{{lec.not_attended_count}}</td>
                            
              </tr>
              {% endfor %}
</table>
<br>
<h1>Subject wise attendance</h1>


<table border="1">
              <tr>
                            <td>User</td>
                            <td>Subject</td>
                            <td>Total lec</td>
                            <td>Attended</td>
                            <td>Attended Percentage</td>
              </tr>
              {% for lec in subject %}
              <tr>
                            <td>{{lec.user}}</td>
                            <td>{{lec.subject}}</td>
                            <td>{{lec.total_lectures}}</td>
                            <td>{{lec.attended_lectures}}</td>
                            <td>{{lec.attendance_percentage}}</td>
                            
              </tr>
              {% endfor %}
</table>
<br>
<h1>Week Attendance </h1>

<table border="1">
              <tr>
                            <td>User</td>
                            <td>Week</td>
                            <td>Total lec of week</td>
                            <td>Attended lec this week</td>
                            <td>Attended Percentage of week</td>
              </tr>
              {% for lec in week %}
              <tr>
                            <td>{{lec.userw}}</td>
                            <td>{{lec.week_count}}</td>
                            <td>{{lec.week_total_lec}}</td>
                            <td>{{lec.attended_total_count}}</td>
                            <td>{{lec.overall_attendance_perc}}</td>
                            
              </tr>
              {% endfor %}
</table>

<br>
<h1>Holiday Forcast</h1>


<table border="1">
              <tr>
                            <td>User</td>
                            <td>Subject</td>
                            <td>Allowed Holiday</td>
                            <td>Min Attended </td>
                            <td>Projected Attendance Percentage</td>
                           
              </tr>
              {% for lec in holiday %}
              <tr>
                            <td>{{lec.user}}</td>
                            <td>{{lec.subject}}</td>
                            <td>{{lec.allowed_holidays}}</td>
                            <td>{{lec.min_attendance_percentage}}</td>
                            <td>{{lec.projected_attendance_percentage}}</td>
                           
                            
              </tr>
              {% endfor %}
</table>
